body {
    font-family: 'Acme', sans-serif;
    color:white;
    background-color: rgb(125, 197, 149);
}

h1{
    text-shadow: 2px 2px green;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5px;
}
.outer-display-container{
    background-color: #efc27c;
}
.display-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    height:200px;
    align-items: center;
    background-color: rgb(222, 167, 90);
    margin:10px;
    padding:40px;
    align-items: center;
    justify-items: center;
    box-shadow:2px 2px  rgb(160, 152, 142) ; ;

}

.display{
    grid-column: auto;
    margin:0px;
    font-size: 40px;
    text-align:center;
    background-color: bisque;
    box-shadow: 2px 3px  rgb(160, 152, 142) ;
    height:175px;
    width:250px;
    
}
.player-stats{
    display: inline;
}

.spin-and-reset{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


 form{
    display: grid;
    justify-items: center;
    grid-column: 2;
    padding:20px;
}
.gamebtn{
    height:100px;
    width: 100px;
    border-radius:50%;
    font-family: 'Acme';
    font-size: 2em;
    transition-duration: .1s;
    border: none;
    box-shadow: 2px 2px 2px 2px darkgreen;
    background-color:peru;
    color:blanchedalmond;
}
.gamebtn:hover {
    color:darkgreen;
}



#crops-grown-list{
    list-style: none;
}